<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/home.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div>
        <img src="../public/profile.png" alt="photo" class="photo">
        <div class="collobrate">
            <h1>Collobrate</h1>
        </div>
        <div class="container">
            <h3>A project management tools for devolopers</h3> 
                
        </div>
        <div class="switch">
            <a href="/login" class="signin">Login</a>
            <a href="/register" class="signup">Register</a>
        </div>
    </div>
</body>
</html>