<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="../public/profile.css">
</head>
<body>
    <img src="../public/profile.png" alt="logo">
    <nav class="nav">
        <form action="" method="post">
            <button class="button" href="">New project</button> 
            <button class="button" href="">Edit project</button>
            <button class="button" href="">Log out</button> 
        </form>
    </nav>

    <section>
        <button class="project">All projects</button>
        <button class="project">Created by me</button>
        <button class="project">Shared with me</button>
    </section>
    
</body>
</html>